body {
  background-color: RGB(246, 242, 238);
}

.App {
  text-align: center;
}

h1 {
  margin-top: 50%;
}

.button {
  border-radius: 50px;
  border: 1px, solid, black;
  background-color: rgba(255, 0, 0, 0.2);
  cursor: pointer;
  margin: 0 auto;
  width: 20%;
  padding-top: 10px;
  padding-bottom: 10px;

}
